body {
    background-color: #a9a9a9;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
}

#sign-inbody{
    background-color: #a9a9a9;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    height: 100vh;
}

.container-form {
    background-color: #caebf2;
    width: 30%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
}

.form-group {
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.labelcss{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"] {
    width: 80%;
    padding: 8px;
    border-radius: 100px;
    border: 3px solid #a9a9a9;
    text-align: center;
    margin: 0 auto;
    display: block;
}

#showPassword {
    margin-left: 130px; 

}

button{
    background-color: #ff3b3f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    width: 40%;
    margin: 9px auto;
    display: block;
}

button:hover {
    background-color: #ff0000;
    color: #fff;
}

.container-form:hover {
    box-shadow: 0 0 10px black;
}

#signUp {
    text-decoration: none;
}



